@font-face {
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
html {
  font-size: 16px;
}
body {
  color: rgb(255, 255, 255);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Hiragino Sans", "Noto Sans CJK JP",
    "Original Yu Gothic", "Yu Gothic", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Sans Emoji";
  letter-spacing: 0.03rem;
  font-weight: 200;
}
.fixBackground {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 0;
  width: inherit;
  height: inherit;
  background: url("img1.jpg") center center no-repeat;
  background-size: cover;
  overflow: hidden;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  width: auto;
  height: auto;
  overflow: hidden;
  z-index: 2;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 120px;
  z-index: 10;
  font-weight: 400;
  font-size: 15px;
}
header .language-menu {
  box-sizing: border-box;
  position: absolute;
  top: -380px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  width: 100%;
  height: 380px;
  border-radius: 0px 0px 5px 5px;
  z-index: 1;
  transition: 300ms;
  transform: translate3d(0px, 0px, 0px);
}
header .language-menu li {
  display: inline-block;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.9);
  margin: 2px;
  padding: 10px;
  width: 30%;
  height: 40px;
  transition: 300ms;
}
header .language-menu li.active:hover {
  color: rgba(0, 0, 0, 0.8);
  background: rgba(255, 255, 255, 0.8);
}
.menus,
nav.head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}
.headBar {
  position: absolute;
  top: 0px;
  width: 100%;
  min-height: 10px;
  background-color: rgba(0, 0, 0, 0.9);
}
nav.head {
  position: absolute;
  top: 60px;
  width: inherit;
  height: 70px;
  background: rgba(255, 255, 255, 0.9);
  color: rgb(100, 100, 100);
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
nav.head ul {
  position: absolute;
  top: 5px;
  max-width: 800px;
  min-width: 320px;
}

.menus {
  position: absolute;
  top: 0px;
  flex-direction: row;
  height: 60px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
ul,
.pointerWrap {
  position: relative;
  top: 5px;
  display: flex;
  justify-content: space-between;
  width: inherit;
  height: 70px;
  max-width: 800px;
  min-width: 320px;
  margin: 0;
  padding: 0;
}
nav.head li,
.menus li,
footer li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.selectMenuWrap {
  position: fixed;
  top: -27px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: rgb(0, 0, 0, 0.7);
  border-radius: 100px;
}
.pointerWrap {
  position: absolute;
  height: initial;
  top: 55px;
  z-index: 0;
}
.pointer {
  width: calc(10%);
  margin: 0px 7.5% 0px 7.5%;
  height: 5px;
  border-radius: 10px;
  background: rgb(79, 174, 159, 1);
  color: rgb(255, 255, 255);
  z-index: 1;
  transition: 300ms;
  transform: translate3d(0px, 0px, 0px);
}
.accessory {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 55px;
  height: 55px;
  line-height: 35px;
  background: rgba(0, 0, 0, 1);
  position: fixed;
  top: -35px;
  border-radius: 100px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  transition: 300ms;
  transform: translate3d(0px, -25px, 0px);
}
.accessory-case {
  position: fixed;
  top: -100px;
  width: 100%;
  height: 100px;
  background: rgb(255, 255, 255);
}
div,
span,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, ol, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

h2 {
  font-size: 3.0rem;
  font-weight: 200;
  letter-spacing: 8px;
  line-height: 100px;
}
.under {
  background: linear-gradient(transparent 70%, #ff99ab 70%);
}
#talknEmbed1 {
  width: 300px;
  height: 450px;
}
#talknEmbed2 {
  width: 601px;
  height: 720px;
}
section.zero {
  padding: 200px 0;
  width: 100%;
  max-width: 1400px;
  flex-flow: row nowrap;
}
section.zero .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1060px;
  background: rgba(0, 0, 0, 0.4);
  z-index: -2;
}
section.zero .bar {
  position: absolute;
  top: 460px;
  width: 100%;
  height: 180px;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
  transform: skew(0deg, 0deg);
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.9);
}
section.zero .bar1 {
  position: absolute;
  top: 600px;
  width: 200%;
  height: 9px;
  background: rgba(79, 174, 159, 0.4);
  z-index: -2;
  transform: skew(0deg, -5deg);
}
section.zero .bar2 {
  position: absolute;
  top: 400px;
  width: 200%;
  height: 9px;
  background: rgba(255, 59, 74, 0.6);
  z-index: -3;
  transform: skew(0deg, -25deg);
}
section.zero .message {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 80px 80px;
  text-align: right;
}
section.zero .message h2 {
  width: 630px;
}
section.zero .slide {
  display: flex;
  flex-flow: row nowrap;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  width: 540px;
  min-width: 540px;
}
section.zero .slide .board {
  width: 540px;
  min-width: 540px;
}
section.zero .slide .board.talkn {
  margin: 0 110px 0 0;
  scroll-snap-align: start;
}
section.zero .slide .board.youtube {
  margin: 80px 0;
  scroll-snap-align: center;
}
section.zero nav {
  width: 100%;
}
section.zero nav.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
section.zero nav.pagination span {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 14px;
  border-radius: 50%;
  background: rgb(255,255,255);
  transition: 600ms;
}

section.zero nav.pagination span:hover {
  transform: scale(1.4);
}

section.one {
  width: 100%;
  background: rgba(0, 60, 30, 0.8);
}
section.one .block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0 120px 0;
  max-width: 1400px;
  width: 100%;
  height: auto;
  flex-flow: row wrap;
}
section.one h2 {
  flex: 100% 1 100;
  margin: 60px 0 120px;
  text-align: center;
}
section.one .merit {
  flex: 33.3% 1 33.3;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 280px;
  height: 280px;
  max-width: 280px;
  max-height: 280px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 140px;
  box-sizing: border-box;
}
section.one .merit .num {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 100;
}
section.one .merit .hr {
  height: 1px;
  background: white;
  width: 60%;
  margin: 1.1rem auto;
}
section.one .merit.one {
  background: rgba(50, 50, 170, 0.6);
}
section.one .merit.two {
  background: rgba(159, 79, 174, 0.6);
}
section.one .merit.three {
  background: rgba(79, 174, 159, 0.6);
}
section.one p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 45%;
  font-size: 27px;
  text-align: center;
}
section.one .conclusion {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  padding: 50px;
  width: 85%;
  height: 100%;
  font-size: 30px;
  text-align: center;
  background: rgba(200, 100, 0, 0.6);
}
section.one .conclusion .colon {
  display: inline-block;
}
section.one .conclusion .hr {
  display: none;
}
section.one .arrowWrap {
  flex: 100% 1 100;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
}
section.one .arrow {
  font-size: 35px;
  color: rgba(255,255,255,0.4);
}
.ribonWrap {
  display: flex;
  justify-items: center;
  align-content: center;
  width: 100%;
}
.ribon {
  margin-left: 50px;
  padding: 20px 40px;
  border-radius: 4px 4px 4px 0px;
  background: rgba(200, 100, 0, 0.6);
  transform: rotate(0deg);
  font-size: 25px;
  color: white;
}
.ribon::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);
}
.active800 {
  display: none;
}
section.two {
  flex-direction: column;
  background: rgba(0, 0, 140, 0.5);
}
section.two .bar1 {
  width: 100%;
  height: 30vw;
  max-height: 300px;
  background: rgba(0, 0, 140, 0.5);
}
section.three {
  width: 100%;
  background: rgba(0,0,0,0.6);
}
section.three .block {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  padding-bottom: 160px;
  max-width: 1400px;
  width: 100%;
  height: 100%;
}
section.three h2 {
  flex: 100% 1 100;
  margin: 80px 0;
  text-align: center;
}
section.three h3 {
  text-align: center;
  margin-bottom: 30px;
}
section.three .content {
  display: flex;
  margin: 0 0 40px 20px;
}
section.three .children {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  margin-left: 20px;
}
section.three .children ul.country_demo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  min-width: 220px;
  height: auto;
}
section.three .children li {
  flex: 50% 0 50;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  margin: 10px 0;
}
section.three .children li .lang {
  width: 110px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
section.three .children li .add,
section.three .children li .reduce,
section.three .children li .liveCnt
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  width: 36px;
  height: 36px;
  border-radius: 30px;
  font-weight: 700;
  cursor: pointer;
  transition: 300ms;
}
section.three .children li .add {
  border: 2px solid rgba(255, 255, 255, 0.9);
  background: rgba(79, 174, 159, 0.8);
}
section.three .children li .add:hover {
  background: rgba(79, 174, 159, 1);
}
section.three .children li .reduce {
  border: 2px solid rgba(255, 255, 255, 0.9);
  background: rgba(100, 100, 100, 0.8);
}
section.three .children li .reduce:hover {
  background: rgba(100, 100, 100, 1);
}
@media screen and (max-width: 1060px) {
  h2 {
    font-size: 40px;
  }
  section.zero .slide {
    width: 300px;
    min-width: 300px;
  }
  section.zero .slide .board {
    width: 300px;
    min-width: 300px;
  }
  section.zero .message {
    justify-content: center;
    margin: 0 20px 80px;
  }
  section.zero .message h2 {
    width: 500px;
  }
  section.one .merit {
    width: 230px;
    height: 230px;
    max-width: 230px;
    max-height: 230px;
  }
  section.one .merit .num {
    margin-top: 0.8rem;
    font-size: 2rem;
  }
  section.one p {
    height: 40%;
    font-size: 24px;
  }
  section.three .content {
    display: flex;
    flex: 100%;
    justify-content: center;
    align-items: center;
  }
  section.three .children {
    display: flex;
    flex: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  h2 {
    letter-spacing: 6px;
  }
  .active800 {
    display: block;
  }
  .ribon {
    font-size: 20px;
  }
  section.zero {
    flex-flow: column nowrap;
    padding: 100px 0;
  }
  section.zero .message h2 {
    width: 100%;
  }
  section.zero .slide {
    width: 540px;
    min-width: 540px;
  }
  section.zero .slide .board {
    width: 540px;
    min-width: 540px;
  }
  section.zero .content {
    height: 560px;
  }
  section.one .block {
    flex-flow: column wrap;
  }
  section.one h2 {
    margin: 60px 0;
  }
  section.one .merit {
    flex: 100% 1 100;
    margin: 20px;
    width: 280px;
    height: 280px;
    max-width: 280px;
    max-height: 280px;
    min-width: 280px;
    min-height: 280px;
  }
  section.one .merit .num {
    margin-top: 1rem;
    font-size: 2.5rem;
  }
  section.one .conclusion {
    font-size: 24px;
    width: 280px;
    height: 280px;
    max-width: 280px;
    max-height: 280px;
    min-width: 280px;
    min-height: 280px;
    border-radius: 300px;
  }
  section.one .conclusion .colon {
    display: none;
  }
  section.one .conclusion .hr {
    display: block;
  }
  section.three .content {
    margin: 0 20px 60px;
    flex: 6 0 calc( 100% - 40px );
  }
}

@media screen and (max-width: 601px) {
  h2 {
    font-size: 26px;
  }
  #talknEmbed2 {
    width: 320px;
    height: 460px;
  }
}
